* {}

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    user-select: none;
}

#myCanvas {
    background-color: rgb(245, 255, 216);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


p.hint {
    position: absolute;
    z-index: 100;
}

.mainActionControl {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 10%;
}

.mainActionControl .menuItem{
    cursor: pointer;
    padding: 5px 30px 8px 25px;
    margin-left: auto;
    width: 140px;
    background-color: #ddd;

}
.mainActionControl .menuItem:hover {background: #bbb; font-weight: bold;}

.groupMenu {display: flex; flex-direction:  row-reverse; flex-wrap: nowrap; overflow: hidden; position: relative;}
.groupMenu_Title {z-index: 100;}
.groupMenu_Buttons {z-index: 90; display: flex; flex-direction:  row; flex-wrap: nowrap;}

.groupMenu .groupMenu_Buttons {transition: all 0.3s ease-out;margin-right:-100%;}
.groupMenu_Title:hover + .groupMenu_Buttons,  .groupMenu_Buttons:hover {margin-right: 0;}


/* Color */
.groupMenu_Buttons .color {background-color: #fff;}
.groupMenu_Buttons .color.red {background-color: #FF0000;}
.groupMenu_Buttons .color.green {background-color: #008000;}
.groupMenu_Buttons .color.blue {background-color: #0000ff;}

p {font-size: 22px;}

@media (max-width: 767px)  {

}